# Domain
DOMAIN=localhost

# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=http://localhost:3000

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Edupo TMS"
STACK_NAME=edupo-tms

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:3000,http://localhost:8000"
SECRET_KEY=your-secret-key-here
FIRST_SUPERUSER=admin
FIRST_SUPERUSER_PASSWORD=your-password-here

# Postgres
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=edupo_tms
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-db-password-here

SENTRY_DSN=

# Docker images
DOCKER_IMAGE_BACKEND=edupo-tms-backend
DOCKER_IMAGE_FRONTEND=edupo-tms-frontend
